@import '../../assets/easings'

.indicator-svg
    transform: rotate( -90deg )

    &.is-playing
        .thumb
            fill: none
            stroke: var( --color-text-primary )

    .thumb
        stroke-dashoffset: 0
        fill: var( --color-text-quaternary )
        transition: fill .24s
        stroke: var( --color-text-secondary )
        stroke-linecap: butt

    .track
        fill: none
        stroke: var( --color-text-quaternary )