@import '../../assets/easings'

.indicator-svg
    transform: rotate( -90deg )

    &.is-playing
        .track, .thumb
            // stroke-width: v-bind( strokeWidth )
        .thumb
            fill: none
            transition: stroke-width .33s $quintIn
    
    &.is-preparing
        .thumb
            // stroke-dashoffset: v-bind( reverseOffset )
            transition: stroke-dashoffset 2s $sineOut

.track, .thumb
    stroke-width: v-bind( strokeWidth / 3 )
    transition: stroke-width .33s $quintIn

.thumb
    fill: var( --color-text-quaternary )
    transition: fill .24s
    stroke: var( --color-text-secondary )
    // stroke-dasharray: v-bind( dashArray )
    stroke-linecap: butt

.track
    fill: none
    stroke: var( --color-text-quaternary )

.is-playing
    .thumb
        stroke: var( --color-text-primary )