@import '../../assets/base'

.data-info
	display: flex
	column-gap: .5rem
	position: relative
	
	.numeric-data, .data-info--label
		font-size: 1.25rem
		line-height: 1.4

	.numeric-data
		font-weight: 600

	.data-info--label
		color: var( --color-text-secondary )
		font-weight: 400

.is-mobile
	.numeric-data, .data-info--label
		font-size: 1rem

	// .data-counters
	// 	margin-top: 0.875rem
	// 	width: 100%
	// 	display: flex
	// 	flex-wrap: wrap
	// 	algin-items: flex-start
	// 	align-content: flex-start
		
	
	.data-info
		padding-right: 2rem